:root{
  --primario:#009688;/*#ff6347 #009688  */
  --terceiro:#fff;
}
ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/*HEADER  TOP*/
#header-top {
  background-color: var(--primario);
  color:#fff;
}

ul.header-info {
  display: flex;
  align-items: center;
  margin-bottom: 0px;
}

ul.header-info a {
  display: block;
  font-size: 0.37cm;
  padding: 7px 15px;
  color: var(--terceiro);
  align-items: center;
}

ul.header-info.info-right a {
  font-size: 0.4cm;
}

/*HEADER*/

/*CABEÇALHO - HEADER*/
.cabecalho {
  background: #fff;
  position: absolute;
  right: 0;
  left: 0;
  z-index: 99;
  border-bottom: 2px solid var(--primario);
}

.cabecalho-fixo {
  position: fixed;
  top: 0;
  z-index: 99;
  border-bottom: none;
  box-shadow: 0px 5px 4px -3px rgb(0 0 0 / 25%);
  padding: 20px;
  transition: linear all 0.5s;
}

#header #barraNavegacao .navbar-nav .nav-item .nav-link {
  color: var(--quarta);
  padding: 0.4cm;
  border-bottom: 2px solid transparent;
  transition: linear all 0.4s;
}

#header #barraNavegacao .navbar-nav .nav-item .nav-link:hover {
  color: var(--primario);
  border-bottom: 2px solid var(--primario);
}


/*BANNER*/
#header #barraNavegacao .navbar-nav .nav-item .nav-link:hover {
  color: var(--primario);
  border-bottom: 2px solid var(--primario);
}

/*BARRA DE NAVEGAÇÃO*/

/* LOGO */
#header #logo {
  text-transform: uppercase;
  color: var(--quarta);
}

#barraNavegacao .sub-menu {
  border: 0px;
  background: var(--primario);
  color: #fff;
  padding: 0px;
}

#barraNavegacao .sub-menu li a {
  font-size: 0.38cm;
  color: #fff;
  padding: 15px;
}

#barraNavegacao .sub-menu li a:hover {
  background: var(--quarta);

}

.navbar-light .navbar-toggler {

  border: 1px solid var(--quarta) !important;
  background: transparent;
}

button.navbar-toggler i {
  color: var(--primario);
  font-size: 0.70cm;
}

/*CAROUSEL PRINCIPAL*/
.carousel .carousel-inner .carousel-item {
  height: 80vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left center;
}

.carousel .carousel-inner .carousel-item .carousel-caption {
  bottom: 20%;
}

.carousel .carousel-inner .carousel-item .carousel-caption .carousel-texto h2 {
  text-transform: uppercase;
}

.carousel .carousel-inner .carousel-item .carousel-caption .carousel-texto p {
  font-size: 0.37;
  font-weight: 100;
}

.carousel-btn {
  border: 1px solid #fff;
  color: var(--terceiro);
  padding: 0.2cm 0.5cm;
}

.carousel-btn:hover {
  border: 1px solid var(--terceiro);
  color: var(--primario);
  padding: 0.2cm 0.6cm;
  background-color: var(--terceiro);
}

.slide_01:before {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../../img/slider.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;

}

.slide_02:before {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../../img/slider_02.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
}

.slide_03:before {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../../img/slider_03.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
}
.carousel-footer {
  background: var(--primario);
  padding: 0.2cm 0cm;
  margin-bottom: 20px;
}

.carousel-footer h4 {
  color: var(--terceiro);
  font-size: 16pt;
  font-weight: 500;
}

.carousel-footer p {
  color: var(--terceiro);
  font-size: 11pt;
  font-weight: 100;
}

.carousel-footer-btn {
  color: var(--terceiro);
  font-size: 10pt;
  font-weight: 600;
  border: 2px solid var(--terceiro);
  text-transform: uppercase;
  padding: 10px 15px;
  margin-top: 17px;
  transition: all linear 0.6s;
}

.carousel-footer-btn:hover {
  color: var(--primario);
  background: var(--terceiro);
}

.border-radius {
  border-radius: 20px;
}

/* carousel footer */
.carousel-footer {
  padding: 20px 0px;
}




/** SEGUNDO BANNER**/

#banner_two{
  background: url('../img/apply-bg.jpg');
  background-attachment: fixed;
  padding: 80px 20px;
}

.banner_two_right{
  color:#fff;
  text-align: center;
}
.banner_two_right_box_title h3{
  font-weight: 800;
    font-size: 59px;
    text-transform: uppercase;
    text-shadow: 5px 3px var(--primario);
}
.banner_two_right_box_title h3 {
  font-weight: 800;
  font-size: 59px;
  text-transform: uppercase;
  text-shadow: 5px 3px var(--primario);
}
.banner_two_right h4{
  font-size: 23px;
  text-transform: uppercase;
  margin-top: 11px;
}
.banner_two_right h4 span {
  margin-right: 10px;
}
.banner_two_right_box_description{
  margin-top: 30px;
}
.banner_two_right_box_description_content{

  /*display: flex;
  justify-content: space-evenly;
  align-items: center;*/
}
.banner_two_right_box_description_horario{
  display: flex;
  align-items: end;
  justify-content: center;
  border-right: 2px solid #fff;
}
.banner_two_right_box_description_horario div {
  margin-left: 20px;
  display: block;
}
.banner_two_right_box_description_horario_left span{
  font-weight: 700;
    font-size: 16px;
}
.banner_two_right_box_description h3 i{

  font-weight: 800;
  font-size: 70px;
  text-transform: uppercase;
  color: var(--primario);
}.banner_two_right_box_description h4{
  font-weight: 800;
  font-size: 59px;
  margin-bottom:0;
}
.banner_two_right_box_description p{
  font-size: 15px;
    font-weight: 300;
    text-transform: uppercase;
}
.my-border{
  width: 2px;
  background-color: #fff;

}

.word_important{
  color: var(--primario);
  font-weight: 700;
}
.banner_two_right_box_description_p{
  margin-top: 70px;
    font-weight: 100;
    letter-spacing: 1px;
    text-align: center;
    font-size: 15px;
}


/**SOBRE EVENTO**/
#about{
  background-attachment: fixed;
  /*margin: 20px 0px;
  background-attachment: fixed;
  box-shadow: 0px 3px 10px #100f0f2b;
  padding: 100px 0px;*/
}
 .card_banner{
    box-shadow: 0px 3px 10px #100f0f2b;
    margin-top: 100px;
    margin-bottom: 100px;
    padding-top: 20px;
    padding-bottom: 20px;
 }
.title{
    font-size: 2.3rem;
    font-family: cursive;
    font-weight: 900;
    margin-bottom: 30px;
}
.text_red{
  color:var(--primario);
}
.paragrafo{
 text-align: justify;
  font-size: 0.37cm;
  line-height: 0.7cm;
  color: rgba(80, 80, 80, 0.8);
}


/*EVENTO CARD*/
#cardEvento .card{
      border-radius: 5px 5px 0 0;
}
#cardEvento img{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
#cardEvento{
  margin:20px 0px ; 
}
#cardEvento  .card-caption {
   background: #f4f4f4;
   padding: 20px;
 }
#cardEvento .card-caption h4 {
  font-size: 21px;
  color: #000;
  font-weight: 700;
  text-align: left;
}
 #cardEvento .card-caption p {
  font-size: 13px;
  line-height: 26px;
  text-align: left;
  color: #000;
}
.btn-mais{
  background: var(--primario);
    color: var(--terceiro);
    padding: 7px 20px;
    border-radius: 0px 10px 10px 0px;
}
.btn-mais:hover {
  background: var(--terceiro);
  color: var(--primario);
}